@font-face {
    font-family: 'Lobster';
    font-weight: normal;
    src: url(../content/fonts/Lobster.ttf) format("TrueType");
}

@font-face {
    font-family: 'ReenieBeanie';
    src: url(../content/fonts/ReenieBeanie.ttf) format("TrueType");
}