/* ipad vertical */
@media only screen
and (min-width: 1024px)
and (max-width: 1024px)
and (min-height: 768px)
and (max-height: 768px) {
    .center {
        top: 50%;
        transform: translate(0%, -50%) rotateZ(0) scale(1.6);
    }
}

/* ipad horizontal */
@media only screen
and (min-width: 768px)
and (max-width: 768px)
and (min-height: 1024px)
and (max-height: 1024px) {
    .center {
        top: 50%;
        transform: translate(0%, -50%) rotateZ(90deg) scale(1.6);
    }
}