/* iPhone 6 portrait */
@media only screen
and (width: 375px)
and (height: 667px)
and (orientation: portrait) {

    #canvasRacer {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(0) scale(1.04);
    }
}

/* iPhone 6 landscape */
@media only screen
and (width: 667px)
and (height: 375px)
and (orientation: landscape) {
    #canvasRacer {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(90deg) scale(1.04);
    }
}