/* style reset */
@import url('reset.css');
@import url('fonts.css');

/* mobile */
@import url('nexus7.css');
@import url('iphone6.css');

html,
body {
    background: #000000;

    width: 100vw !important;
    height: 100vh !important;
}