/* full hd horizontal */
@media only screen
and (min-width: 1920px)
and (min-height: 1080px) {
    .center {
        top: 50%;
        transform: translate(0%, -50%) rotateZ(0) scale(2.2);
    }
}

/* full hd vertical */
@media only screen
and (min-width: 1080px)
and (min-height: 1920px) {
    .center {
        top: 50%;
        transform: translate(0%, -50%) rotateZ(90deg) scale(2.2);
    }
}