@media only screen
and (orientation: landscape) {
	#rotate-error {
		display: block;
		height: 100vh;
		width: auto;
		line-height: 100vh;
		font-size: larger;
		text-align: center;
		transform: rotateZ(90deg);
		color: red;
	}

	#canvasRacer {
		display: none !important;
	}
}

@media only screen
and (orientation: portrait) {
	#rotate-error {
		display: none;
	}

	#canvasRacer {
		display: block;
	}
}